@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --primary-bg-color: #080101;
  --secondary-bg-color: #f1f1f1;
  --primary-text-color: white;
  --font-family: 'Bebas Neue', sans-serif;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--secondary-bg-color);
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

#about-me {
  max-width: 800px;
  padding: 10px;
  margin: 0 auto; 
}

#portrait { 
  width: 150px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  padding: 0; 
}

nav {
  background-color: var(--primary-bg-color);
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
}

main {
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.portfolio-item {
  margin-bottom: 20px;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.portfolio-item img {
  width: 100%; 
  max-width: 600px; 
}

.portfolio-item.large img {
  max-width: 600px; 
}

.portfolio-item.small img {
  max-width: 300px; 
}

.portfolio-item h3 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  #portrait {
    width: 100px; /
  }

  nav ul {
    flex-direction: column; 
  }

  .portfolio-item img,
  .portfolio-item.small img {
    max-width: 100%; 
  }
}
